<a onclick="location.href='/'" class="btn btn-default">
    <span class="glyphicon glyphicon-refresh"></span> reload the app
</a>

<nav class="navbar navbar-default" role="navigation">

</nav>

        Current Season: <input ng-model="currentSeason" type="text"/>
        Current Week: <input ng-model="currentWeek" type="text"/>

<div class="list-group">
    <li class="list-group-item">
        <a class="btn btn-primary" href="#/showTracks">Select your tracks</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-primary" href="#/showSeries">series list</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-primary" href="#/editSeries">edit Series</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-primary" href="#/showSeasons">Seasons</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-primary" href="#/export">Export</a>
    </li>

    <li class="list-group-item">
        <a class="btn btn-primary" href="#/showVehicles">show Vehicles</a>
    </li>
</div>